@if (groupedItems?.length > 0) {
  <p-carousel [value]="groupedItems" [numVisible]="1" [numScroll]="1">
    <ng-template pTemplate="item" let-group>
      <div class="grid grid-cols-3 gap-3">
        @for (item of group; track $index) {
          <app-card
            [data]="item"
            (cardClick)="itemClicked.emit(item)">
          </app-card>
        }
      </div>
    </ng-template>
  </p-carousel>
} @else {
  <div class="text-center text-white py-5 text-2xl">No Data Available</div>
}
