p,
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-transform: uppercase;
}
h1 {
  font-size: 34px;
  background-color: rgb(149, 216, 255);
  background-image: linear-gradient(160deg, #e9fbff, #1297a8);
  background-size: 150%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.slide {
  margin: auto;
  padding: 20px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #def9ff;
  color: rgb(0, 91, 133);
  font-weight: 400;
  border: 1px solid rgb(0, 151, 221);
  border-radius: 8px;
  vertical-align: middle;
  font-size: 11px;
}
.logo {
  text-transform: uppercase;
  margin-bottom: 6px;
  font-weight: bold;
  color: black;
}
.container {
  max-width: 460px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: auto;
}

:host ::ng-deep .owl-theme .owl-dots {
  margin-top: 30px;
}
:host ::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff0000;
}
:host ::ng-deep .owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
}
:host ::ng-deep .owl-carousel {
  position: relative;
}
:host ::ng-deep .owl-theme .owl-nav div {
  position: absolute;
  top: 35%;
  background-color: #ff0000 !important;
  padding: 4px 10px;
  border-radius: 50%;
}
:host ::ng-deep .owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: -60px;
}
:host ::ng-deep.owl-theme .owl-nav .owl-prev:before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  position: relative;
  top: 0.45em;
  vertical-align: top;
  width: 0.45em;
  left: 0.05em;
  transform: rotate(-135deg);
}
:host ::ng-deep .owl-theme .owl-nav .owl-next {
  position: absolute;
  right: -60px;
}
:host ::ng-deep.owl-theme .owl-nav .owl-next:before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  position: relative;
  top: 0.45em;
  vertical-align: top;
  width: 0.45em;
  left: 0;
  transform: rotate(45deg);
}
