<section class="relative">
  <img
    class="-z-10"
    ngSrc="images/auth-bg.png"
    alt="background image"
    priority="true"
    fill
  />

  <main class="grid sm:grid-cols-2 min-h-dvh bg-[#24242499] backdrop-blur-2xl">
    <div class="relative sm:flex flex-col items-center justify-start hidden">
      <img ngSrc="logo.png" width="150" height="150" alt="logo" />

      <img ngSrc="images/auth.png" fill alt="auth image" priority="true" />
    </div>

    <div class="flex justify-center items-center text-white p-4">
      <router-outlet />
    </div>
  </main>
</section>
