.main-sec {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.bg-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: var(--bg-workouts);   
    z-index: 0;   
}

.bg-img > * {
    position: relative;
    z-index: 2; 
}

/* Dark Mode */
.dark .bg-img::before {
    background: var(--bg-workouts); 
}