.proggress {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 1rem auto;

  display: grid;
  place-items: center;

  background: #242424;
  position: relative;
}

.proggress::after {
  content: '';
  width: 64px;
  aspect-ratio: 1/1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
  border-radius: 50%;
  background: conic-gradient(#ff4100 var(--percent), transparent 0%);
  z-index: -1;
}
