.card-image {
    width: 100%;            
    height: 100%;         
    aspect-ratio: 403 / 300; 
    object-fit: cover;      
    border-radius: 18px;       
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px 0 18px;
    z-index: 10; 
    background: var(--card-overlay-bg);
    -webkit-backdrop-filter: blur(58.2px);
    backdrop-filter: blur(58.2px);

}

