/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@font-face {
  font-family: 'Baloo Thambi 2';
  src: url('/fonts/BalooThambi2-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* define light theme (default) */
[data-theme='light'] {
  --primay-color: #ff4100;
  --bg-section: rgba(255, 255, 255, 0.95);
  --title-text: #242424;
  --p-text: #242424;
}
/* define dark theme */
[data-theme='dark'] {
  --primay-color: #ff4100;
  --bg-section: #242424f2;
  --title-text: #f3f3f4;
  --p-text: #f3f3f4;
}

@theme {
  --font-rubik: 'Rubik';
  --font-baloo: 'Baloo Thambi 2';
  --font-inter: 'Inter';
  --color-bg-section: var(--bg-section);
  --color-primary: var(--primay-color);
  --color-title-text: var(--title-text);
  --color-p-text: var(--p-text);
}

html {
  //background-color: var(--primay-color);
  font-family: 'Baloo Thambi 2';
}

/* components: reusable class patterns */
@layer components {
  .main-heading {
    @apply text-xl md:text-4xl font-bold font-baloo capitalize text-title-text;
  }
  .main-padding {
    @apply px-4 md:px-20;
  }
}
.workouts {
  font-family: 'Baloo Thambi 2', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0;
  /* Make text transparent */
  color: transparent;
  -webkit-text-stroke: 2px transparent;
  /* Gradient stroke */
  border: 1px solid;

  // border-image-source: linear-gradient(
  //   177.84deg,
  //   rgba(36, 36, 36, 0.5) -10.01%,
  //   rgba(255, 255, 255, 0.5) 74.97%
  // );
  background: linear-gradient(
    177.84deg,
    rgba(36, 36, 36, 0.5) 35.01%,
    rgba(255, 255, 255, 0.5) 74.97%
  );
  -webkit-mask: linear-gradient(#fff 0 0) text, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
