.workouts {
  font-family: 'Baloo Thambi 2', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0;
  /* Make text transparent */
  color: transparent;
  -webkit-text-stroke: 2px transparent;

  /* Gradient stroke */
  background: linear-gradient(177.84deg, #242424 35.01%, #ffffff 70.99%);
  -webkit-mask: linear-gradient(#fff 0 0) text, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
